body{
    position: relative;
    background-color: #DDD0C8;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
html, body{
    overflow-x: hidden;
}


/*navbar*/


nav{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;   
    
    display: flex;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 1em;
    padding-right: 1em;
     background-color: #c8d5dd;
    justify-content: space-evenly;
        
}

nav li{
    display: inline;
    


}

nav a{
    font-size: 1em;
   
    color: black;
    text-decoration: none;

}

nav a:hover{
    color: grey;
}

/*header*/

header{
    text-align: center;
    /* padding: 20px; */
}

h1{font-family: 'Courier New', Courier, monospace;
    font-size: 42px;
}

/* image */

.image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 70vh;max-width: 100%;
    padding-top: 20px;
    
}

/*information*/

.information {
    border: #c8d5dd 5px solid;
    text-align: center;
    margin: 20px;
    font-size: 32px;
    
}
h2{
    padding-bottom: 20px;
}
ul{
    list-style-type: none;
}



li{
    padding: 10px;
    font-size:24px;
}


/*about us page*/

.about{
    border: #c8d5dd 5px solid;
    display: flex;   
    margin: 20px;
    padding: 10px;
    
}

#image-50{
  width: 50%;

  
}

#info-50{
    float: right;
    padding-left: 20px;
    font-size: 36px;
    margin-left: 20px;
}

/* contact us page */
a{
    text-decoration: none;
    color: black;
}

.information a:hover{
    font-size: 28px;
}

/* footer*/
footer{
    display: flex;
    background-color: #c8d5dd;
    
    
    padding-bottom: 10px;
    padding-top: 10px;
    justify-content: center;
    
}

.fa { 
   
    padding: 20px;  
    font-size: 30px;  
   border-radius: 40%;
   
  }  


  
  /*media queries*/

@media (max-width:800px){
    .about{
        flex-direction: column;
    }
  #image-50{
    width: auto;
    height: fit-content;
  }
  nav{
justify-content: center;
padding-left: 10px;
padding-right: 10px;
  }
 
}